<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html>
<head>
<meta name="qrichtext" content="1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
p, li { white-space: pre-wrap; }
</style>
</head>
<body style="font-family:'微软雅黑'; font-size:11pt; font-weight:400; font-style:normal;">
<p style="margin:0px;">未登录</p>
<p style="margin:0px;">&lt;div sec:authorize=&quot;!isAuthenticated()&quot;&gt;</p>
<p style="margin:0px;">	&lt;a class=&quot;item&quot; th:href=&quot;@{/toLogin}&quot;&gt;</p>
<p style="margin:0px;">		&lt;i class=&quot;address card icon&quot;&gt;&lt;/i&gt;登录</p>
<p style="margin:0px;">	&lt;/a&gt;</p>
<p style="margin:0px;">&lt;/div&gt;</p>
<p style="-qt-paragraph-type:empty; margin:0px;"><br /></p>
<p style="margin:0px;">已登录</p>
<p style="margin:0px;">&lt;div sec:authorize=&quot;isAuthenticated()&quot;&gt;</p>
<p style="margin:0px;">	&lt;a class=&quot;item&quot;&gt;</p>
<p style="margin:0px;">		用户名：&lt;span sec:authentication=&quot;name&quot;&gt;&lt;/span&gt;</p>
<p style="margin:0px;">		角色：&lt;span sec:authentication=&quot;principal.getAuthorities()&quot;&gt;&lt;/span&gt;</p>
<p style="margin:0px;">	&lt;/a&gt;</p>
<p style="margin:0px;">&lt;/div&gt;</p>
<p style="margin:0px;">&lt;div sec:authorize=&quot;isAuthenticated()&quot;&gt;</p>
<p style="margin:0px;">	&lt;a class=&quot;item&quot; th:href=&quot;@{/logout}&quot;&gt;</p>
<p style="margin:0px;">		&lt;i class=&quot;sign-out icon&quot;&gt;&lt;/i&gt;注销</p>
<p style="margin:0px;">	&lt;/a&gt;</p>
<p style="margin:0px;">&lt;/div&gt;</p>
<p style="-qt-paragraph-type:empty; margin:0px;"><br /></p>

<script type="text/javascript" language="javascript" src="jquery.js"></script>
<script type="text/javascript" language="javascript" src="itemlink.js"></script></body>
</html>